<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Access Denied</h2>
        <p>You are not allowed to access this page .</p>
        <hr />
        <p>Thank you!</p>
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>